In [1]:
import pandas as pd

df = pd.read_csv("cotacao.csv", sep=";", decimal=",")

Aqui mostraremos a amplitude com a maior e menor cotação no periodo

In [5]:
df['dataHoraCotacao'] = pd.to_datetime(df['dataHoraCotacao'])

df['ano_mes'] = df['dataHoraCotacao'].dt.to_period('M')

colunas = [
    "cotacaoCompra_USD", "cotacaoVenda_USD",
    "cotacaoCompra_EUR", "cotacaoVenda_EUR",
    "paridadeCompra_USDEUR", "paridadeVenda_USDEUR"
]

def calcular_amplitude(grupo):
    return grupo.max() - grupo.min()

amplitude_mensal = df.groupby('ano_mes')[colunas].apply(calcular_amplitude).reset_index()
amplitude_mensal

,ano_mes,cotacaoCompra_USD,cotacaoVenda_USD,cotacaoCompra_EUR,cotacaoVenda_EUR,paridadeCompra_USDEUR,paridadeVenda_USDEUR
0,2023-01,0.37,0.37,0.27,0.27,0.04,0.04
1,2023-02,0.26,0.26,0.19,0.19,0.04,0.04
2,2023-03,0.22,0.22,0.31,0.31,0.04,0.04
3,2023-04,0.17,0.17,0.20,0.19,0.03,0.03
4,2023-05,0.19,0.19,0.23,0.23,0.03,0.03
5,2023-06,0.26,0.27,0.21,0.21,0.03,0.03
6,2023-07,0.18,0.18,0.24,0.24,0.03,0.03
7,2023-08,0.21,0.20,0.20,0.20,0.02,0.02
8,2023-09,0.20,0.20,0.15,0.15,0.03,0.03
9,2023-10,0.24,0.24,0.26,0.26,0.01,0.01
10,2023-11,0.16,0.16,0.18,0.19,0.05,0.05
11,2023-12,0.13,0.13,0.11,0.11,0.04,0.04
12,2024-01,0.12,0.12,0.08,0.07,0.02,0.02
13,2024-02,0.07,0.08,0.08,0.08,0.02,0.02
14,2024-03,0.09,0.10,0.10,0.10,0.02,0.02
15,2024-04,0.25,0.25,0.18,0.18,0.03,0.03
16,2024-05,0.18,0.18,0.23,0.24,0.02,0.02
17,2024-06,0.32,0.32,0.25,0.25,0.02,0.02
18,2024-07,0.27,0.27,0.29,0.29,0.02,0.02
19,2024-08,0.34,0.34,0.32,0.32,0.04,0.04
20,2024-09,0.23,0.24,0.20,0.21,0.02,0.02
21,2024-10,0.35,0.35,0.29,0.29,0.03,0.03
22,2024-11,0.39,0.39,0.34,0.34,0.05,0.05
23,2024-12,0.26,0.26,0.26,0.26,0.02,0.02
24,2025-01,0.38,0.38,0.32,0.32,0.03,0.03
25,2025-02,0.17,0.17,0.13,0.13,0.02,0.02
26,2025-03,0.17,0.17,0.23,0.24,0.01,0.01
27,2025-04,0.45,0.45,0.53,0.53,0.07,0.07
28,2025-05,0.13,0.13,0.22,0.22,0.03,0.03
29,2025-06,0.15,0.15,0.17,0.16,0.02,0.02

Media movel ajuda a visualizar tendencias de crescimento ou queda.

In [9]:
df['dataHoraCotacao'] = pd.to_datetime(df['dataHoraCotacao'])
df = df.sort_values('dataHoraCotacao')


df['media_movel_USD'] = df['cotacaoVenda_USD'].rolling(window=7).mean()

df['media_movel_EUR'] = df['cotacaoVenda_EUR'].rolling(window=7).mean()


df

,Unnamed: 0.1,Unnamed: 0,dataHoraCotacao,tipoBoletim,cotacaoCompra_USD,cotacaoVenda_USD,cotacaoCompra_EUR,cotacaoVenda_EUR,paridadeCompra_USDEUR,paridadeVenda_USDEUR,ano_mes,trimestre,semana,ano_semana,ano,media_movel_USD,media_movel_EUR
0,0,0,2023-01-02,Fechamento,5.34,5.34,5.70,5.70,1.07,1.07,2023-01,2023Q1,2023-01-02,2023-01-02/2023-01-08,2023,NaN,NaN
1,1,1,2023-01-03,Fechamento,5.38,5.38,5.67,5.67,1.06,1.06,2023-01,2023Q1,2023-01-02,2023-01-02/2023-01-08,2023,NaN,NaN
2,2,2,2023-01-04,Fechamento,5.45,5.45,5.77,5.77,1.06,1.06,2023-01,2023Q1,2023-01-02,2023-01-02/2023-01-08,2023,NaN,NaN
3,3,3,2023-01-05,Fechamento,5.40,5.40,5.68,5.68,1.05,1.05,2023-01,2023Q1,2023-01-02,2023-01-02/2023-01-08,2023,NaN,NaN
4,4,4,2023-01-06,Fechamento,5.28,5.29,5.60,5.60,1.06,1.06,2023-01,2023Q1,2023-01-02,2023-01-02/2023-01-08,2023,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
609,609,609,2025-06-06,Fechamento,5.59,5.59,6.37,6.38,1.14,1.14,2025-06,2025Q2,2025-06-02,2025-06-02/2025-06-08,2025,5.650000,6.441429
610,610,610,2025-06-09,Fechamento,5.58,5.58,6.37,6.37,1.14,1.14,2025-06,2025Q2,2025-06-09,2025-06-09/2025-06-15,2025,5.638571,6.432857
611,611,611,2025-06-10,Fechamento,5.56,5.56,6.34,6.35,1.14,1.14,2025-06,2025Q2,2025-06-09,2025-06-09/2025-06-15,2025,5.617143,6.414286
612,612,612,2025-06-11,Fechamento,5.54,5.54,6.36,6.36,1.15,1.15,2025-06,2025Q2,2025-06-09,2025-06-09/2025-06-15,2025,5.595714,6.392857
613,613,613,2025-06-12,Fechamento,5.54,5.54,6.41,6.41,1.16,1.16,2025-06,2025Q2,2025-06-09,2025-06-09/2025-06-15,2025,5.577143,6.387143

Media geral dos valores das colunas

In [17]:
colunas = [
    "cotacaoCompra_USD", "cotacaoVenda_USD",
    "cotacaoCompra_EUR", "cotacaoVenda_EUR",
    "paridadeCompra_USDEUR", "paridadeVenda_USDEUR"
]

df[colunas].mean()

cotacaoCompra_USD        5.302085
cotacaoVenda_USD         5.302606
cotacaoCompra_EUR        5.739186
cotacaoVenda_EUR         5.741173
paridadeCompra_USDEUR    1.082704
paridadeVenda_USDEUR     1.083046
dtype: float64

Aqui analisamos a mediana de forma geral

In [18]:
df[colunas].median()

cotacaoCompra_USD        5.180
cotacaoVenda_USD         5.180
cotacaoCompra_EUR        5.565
cotacaoVenda_EUR         5.570
paridadeCompra_USDEUR    1.080
paridadeVenda_USDEUR     1.080
dtype: float64

Aqui analisamos a moda de forma geral

In [19]:
df[colunas].mode().iloc[0]

cotacaoCompra_USD        4.92
cotacaoVenda_USD         4.92
cotacaoCompra_EUR        5.34
cotacaoVenda_EUR         5.34
paridadeCompra_USDEUR    1.09
paridadeVenda_USDEUR     1.09
Name: 0, dtype: float64

Aqui analisamos o valor maximo da cotacao de venda e compra do dolar e do euro e tambem a paridade maxima entre o dolar e o euro para o real

In [51]:
df['dataHoraCotacao'] = pd.to_datetime(df['dataHoraCotacao'], errors='coerce')

df['ano_mes'] = df['dataHoraCotacao'].dt.to_period('M')
#Aqui ele pega o ano e o mes com maior cotação
maximaDoDolarPorMes = df.groupby('ano_mes')[['cotacaoCompra_USD', 'cotacaoVenda_USD']].max().reset_index()
maximaDoEuroPorMes = df.groupby('ano_mes')[['cotacaoCompra_EUR', 'cotacaoVenda_EUR', 'paridadeCompra_USDEUR', 'paridadeVenda_USDEUR']].max().reset_index()

In [52]:
maximaDoDolarPorMes

    ano_mes  cotacaoCompra_USD  cotacaoVenda_USD
0   2023-01               5.45              5.45
1   2023-02               5.25              5.25
2   2023-03               5.30              5.30
3   2023-04               5.08              5.08
4   2023-05               5.10              5.10
5   2023-06               5.03              5.04
6   2023-07               4.90              4.90
7   2023-08               4.98              4.98
8   2023-09               5.05              5.05
9   2023-10               5.19              5.19
10  2023-11               5.02              5.02
11  2023-12               4.96              4.96
12  2024-01               4.97              4.97
13  2024-02               5.00              5.01
14  2024-03               5.03              5.04
15  2024-04               5.26              5.26
16  2024-05               5.24              5.24
17  2024-06               5.56              5.56
18  2024-07               5.67              5.67
19  2024-08               5.76              5.76
20  2024-09               5.65              5.66
21  2024-10               5.78              5.78
22  2024-11               6.05              6.05
23  2024-12               6.20              6.20
24  2025-01               6.21              6.21
25  2025-02               5.87              5.87
26  2025-03               5.83              5.83
27  2025-04               6.06              6.06
28  2025-05               5.74              5.74
29  2025-06               5.69              5.69

In [53]:
maximaDoEuroPorMes

,ano_mes,cotacaoCompra_EUR,cotacaoVenda_EUR,paridadeCompra_USDEUR,paridadeVenda_USDEUR
0,2023-01,5.77,5.77,1.09,1.09
1,2023-02,5.63,5.63,1.09,1.09
2,2023-03,5.73,5.73,1.09,1.09
3,2023-04,5.59,5.59,1.11,1.11
4,2023-05,5.55,5.55,1.10,1.10
5,2023-06,5.41,5.41,1.10,1.10
6,2023-07,5.43,5.43,1.12,1.12
7,2023-08,5.44,5.44,1.10,1.10
8,2023-09,5.34,5.34,1.08,1.08
9,2023-10,5.50,5.50,1.06,1.06
10,2023-11,5.38,5.39,1.10,1.10
11,2023-12,5.39,5.39,1.11,1.11
12,2024-01,5.39,5.39,1.10,1.10
13,2024-02,5.41,5.41,1.09,1.09
14,2024-03,5.47,5.47,1.10,1.10
15,2024-04,5.60,5.60,1.09,1.09
16,2024-05,5.68,5.69,1.09,1.09
17,2024-06,5.95,5.95,1.09,1.09
18,2024-07,6.13,6.13,1.09,1.09
19,2024-08,6.32,6.32,1.12,1.12
20,2024-09,6.24,6.25,1.12,1.12
21,2024-10,6.28,6.28,1.11,1.11
22,2024-11,6.39,6.39,1.09,1.09
23,2024-12,6.48,6.48,1.06,1.06
24,2025-01,6.38,6.38,1.05,1.05
25,2025-02,6.08,6.08,1.05,1.05
26,2025-03,6.37,6.38,1.09,1.09
27,2025-04,6.69,6.69,1.15,1.15
28,2025-05,6.51,6.51,1.14,1.14
29,2025-06,6.51,6.51,1.16,1.16

Estabelecemos a media mensal das colunas.

In [ ]:
df['anoMes'] = pd.to_datetime(df['dataHoraCotacao']).dt.to_period('M')
mediaMensal = df.groupby('anoMes')[colunas].mean()

mediaMensal

,cotacaoCompra_USD,cotacaoVenda_USD,cotacaoCompra_EUR,cotacaoVenda_EUR,paridadeCompra_USDEUR,paridadeVenda_USDEUR
ano_mes,,,,,,
2023-01,5.200000,5.200909,5.598636,5.600455,1.077273,1.077273
2023-02,5.170556,5.170556,5.536667,5.538333,1.070556,1.070556
2023-03,5.210870,5.211739,5.580435,5.583043,1.071304,1.071304
2023-04,5.018889,5.019444,5.502778,5.504444,1.096111,1.097222
2023-05,4.982273,4.982727,5.407727,5.410455,1.085909,1.085909
2023-06,4.850952,4.851905,5.259524,5.261905,1.083810,1.085238
2023-07,4.800476,4.801429,5.308095,5.310476,1.105238,1.105238
2023-08,4.902174,4.903043,5.348261,5.350435,1.090000,1.090870
2023-09,4.937000,4.937500,5.269500,5.271500,1.068000,1.068000
2023-10,5.065238,5.065714,5.348571,5.350952,1.055714,1.055714
2023-11,4.897000,4.898500,5.300000,5.303000,1.081500,1.081500
2023-12,4.897000,4.897500,5.341000,5.342500,1.090500,1.091000
2024-01,4.912727,4.912727,5.354545,5.356364,1.089545,1.090909
2024-02,4.963684,4.964737,5.357895,5.358421,1.078947,1.078947
2024-03,4.980500,4.981500,5.415000,5.417000,1.087500,1.087500
2024-04,5.128182,5.129091,5.498182,5.500455,1.071364,1.071818
2024-05,5.133333,5.133333,5.551905,5.554286,1.082857,1.083333
2024-06,5.388500,5.389000,5.797000,5.799500,1.075500,1.076500
2024-07,5.542174,5.542174,6.009130,6.011304,1.084348,1.084348
2024-08,5.552273,5.552727,6.117727,6.119545,1.102273,1.102273
2024-09,5.540476,5.541429,6.150476,6.151905,1.109524,1.109524
2024-10,5.623913,5.623913,6.125217,6.126522,1.089565,1.090000
2024-11,5.806316,5.806316,6.175789,6.175789,1.063684,1.063684
2024-12,6.095714,6.096190,6.382381,6.384762,1.047619,1.047619
2025-01,6.021818,6.021818,6.235455,6.237273,1.035909,1.035909
2025-02,5.766000,5.766500,6.005500,6.006500,1.042500,1.042500
2025-03,5.746316,5.746842,6.231579,6.233158,1.084211,1.084211
2025-04,5.779048,5.779524,6.479048,6.482857,1.121429,1.123333
2025-05,5.667143,5.667143,6.390952,6.392381,1.126667,1.127143
2025-06,5.600000,5.600000,6.404444,6.407778,1.143333,1.143333

Aqui analisamos a maxima trimestral do dolar e euro na base da cotação de venda

In [ ]:
df['dataHoraCotacao'] = pd.to_datetime(df['dataHoraCotacao'], errors='coerce')

df['trimestre'] = df['dataHoraCotacao'].dt.to_period('Q')
#Aqui ele pega o ano e o mes com maior cotação
maximaDoDolarPorTrimestre = df.groupby('trimestre')['cotacaoVenda_USD'].max().reset_index()
maximoDoEUROPorTrimestre = df.groupby('trimestre')['cotacaoVenda_EUR'].max().reset_index()

:

In [ ]:
maximaDoDolarPorTrimestre

  trimestre  cotacaoVenda_USD
0    2023Q1              5.45
1    2023Q2              5.10
2    2023Q3              5.05
3    2023Q4              5.19
4    2024Q1              5.04
5    2024Q2              5.56
6    2024Q3              5.76
7    2024Q4              6.20
8    2025Q1              6.21
9    2025Q2              6.06

In [ ]:
maximoDoEUROPorTrimestre

  trimestre  cotacaoVenda_EUR
0    2023Q1              5.77
1    2023Q2              5.59
2    2023Q3              5.44
3    2023Q4              5.50
4    2024Q1              5.47
5    2024Q2              5.95
6    2024Q3              6.32
7    2024Q4              6.48
8    2025Q1              6.38
9    2025Q2              6.69

Aqui identificamos a medial trimestral das colunas.

In [34]:
df['trimestre'] = pd.to_datetime(df['dataHoraCotacao']).dt.to_period('Q')
mediaTrimestral = df.groupby('trimestre')[colunas].mean()

mediaTrimestral

,cotacaoCompra_USD,cotacaoVenda_USD,cotacaoCompra_EUR,cotacaoVenda_EUR,paridadeCompra_USDEUR,paridadeVenda_USDEUR
trimestre,,,,,,
2023Q1,5.195556,5.196190,5.574286,5.576349,1.073175,1.073175
2023Q2,4.947869,4.948525,5.384754,5.387049,1.088197,1.089016
2023Q3,4.879688,4.880469,5.310469,5.312656,1.088125,1.088438
2023Q4,4.954918,4.955738,5.330164,5.332459,1.075574,1.075738
2024Q1,4.950820,4.951475,5.375410,5.376885,1.085574,1.086066
2024Q2,5.212540,5.213016,5.610952,5.613333,1.076508,1.077143
2024Q3,5.545000,5.545455,6.090303,6.092121,1.098333,1.098333
2024Q4,5.836190,5.836349,6.226190,6.227460,1.067778,1.067937
2025Q1,5.852131,5.852459,6.158852,6.160328,1.053115,1.053115
2025Q2,5.701373,5.701569,6.429608,6.432353,1.127451,1.128431

Aqui o desvião padrão das colunas

In [ ]:
desvioTrimestral = df.groupby('trimestre')[colunas].std()

desvioTrimestral

,cotacaoCompra_USD,cotacaoVenda_USD,cotacaoCompra_EUR,cotacaoVenda_EUR,paridadeCompra_USDEUR,paridadeVenda_USDEUR
trimestre,,,,,,
2023Q1,0.083662,0.083385,0.072595,0.072519,0.011616,0.011616
2023Q2,0.092089,0.092012,0.114784,0.114664,0.011330,0.011359
2023Q3,0.079980,0.079271,0.069338,0.068736,0.017263,0.017295
2023Q4,0.093481,0.093157,0.054052,0.053996,0.018214,0.018481
2024Q1,0.038484,0.039321,0.037442,0.037352,0.007422,0.007589
2024Q2,0.140620,0.140582,0.142893,0.143392,0.009009,0.009233
2024Q3,0.088930,0.089118,0.104189,0.104653,0.013653,0.013653
2024Q4,0.218812,0.219054,0.137998,0.138703,0.020355,0.020569
2025Q1,0.148100,0.147836,0.125274,0.125552,0.022252,0.022252
2025Q2,0.107982,0.107988,0.119348,0.119375,0.016952,0.017014

O mes que teve o maior aumento na cotação de venda do dolar

In [ ]:
mesMax = ["cotacaoVenda_USD"].max()

mesMax

6.096190476190476

O trimestre com maior aumento na cotação do dolar

In [35]:
trimestreMax = mediaTrimestral["cotacaoVenda_USD"].max()

trimestreMax

5.852459016393443